/.idea/
/out/production/tempartur games/Controller.class
/out/production/tempartur games/csvDTO.class
/out/production/tempartur games/DataPointDto.class
/out/production/tempartur games/DtoPractise$TwoListsDto.class
/out/production/tempartur games/DtoPractise.class
/out/production/tempartur games/DtoStage1.class
/out/production/tempartur games/DtoStage2.class
/out/production/tempartur games/DtoTask.class
/out/production/tempartur games/findMaxMin.class
/out/production/tempartur games/identifySeries.class
/out/production/tempartur games/test3.class
/out/production/tempartur games/UniqueValues.class
